@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway";

    li {
        list-style: none;
        white-space: nowrap;
        }

    body {
        background-color: #282632;
    }
}

nav {
    background-color: #1F1C2F;
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;

    .logo {
        height: 80%;
        width: auto;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10%;
    
        li a {
        font-size: 0.9rem;
        color: #e8eef8;
        text-decoration: none;
        }
        
        a:hover {
            color: #F98125;
            font-weight: bold;
            font-style: italic;
            font-size: 1.4rem;
        }
    }
}


main {
    background-color: #4c4959;
    color: #e8eef8;
    text-align: center;
    padding: 10rem;


    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
        padding-bottom: 2%;
    }

    h3, p {
        font-size: 1rem;
        padding-bottom: 2%; 
    }

    a {
        font-size: 1rem;
        color: #F98125;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    .images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        

        img {
            height: 25rem;
            width: 25rem;
            padding: 10px;
        }
    }
}



footer {
    background-color: #0d0e10;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    ul {
        display: flex;
        flex-direction: row;
        padding-left:  8rem;
        gap: 20%;


        button:hover {
            background-color: #b14f04;
        }

        button {
            background-color: #F98125;
            border: none;
            border-radius: 50%;
    
            img {
                height: 5rem;
                width: auto;
                padding: 10%;
            }
        }
    }
    .logo {
        height: 6rem;
        width: auto;
    }
}
    
#backToTop {
    border: none;
    border-radius: 100%;
    padding: 10px;
    position: fixed;
    bottom: 1rem;  
    right: 1rem;
    background-color:  #F98125;

    .imgUp {
        height: 50px;
    }
}

#backToTop:hover {
    background-color: #b14f04;
} 
